@import './global/reset';
@import './global/typography';
@import './global/variables';
@import './global/utilities';
.app {
	font-family: $font;
}

.content-wrapper {
	padding: 0 16px;
	margin: 0 auto;
	width: 100%;
	max-width: 1224px;

	@include large {
		padding: 0;
	}
}
