@import './global/reset';
@import './global/typography';
@import './global/variables';

.app {
	font-family: $font;
	background-color: $background;
}

main {
	margin-top: 16px;

	@include large {
		margin-top: 40px;
	}
}

.content-wrapper {
	padding: 0 16px;
	margin: 0 auto;
	width: 100%;
	max-width: 1224px;

	@include large {
		padding: 0;
	}
}
