/**
* VARIABLES
*/

// COLORS

// *** Primary
$blue: #23a1f5;
$malibuBlue: #2b45c9;
$darkBlue: #274690;
$green: #45be93;
$midnight: #001e3c;

// *** Secondary
$white: #ffffff;
$background: #f9faff;
$greyBackground: #eff1f8;
$blueBackground: #0e3056;
$darkBlueBackground: #001e3c;
$grey: #808a9f;
$black: #222222;

// *** System
$red: #f71735;

// *** Gradient
// $gradient: linear-gradient(270deg, #64e0b9 0%, #4451c4 100%);

// FONTS
$font: 'Inter', sans-serif;

// BREAKPOINTS
$medium: 768px;

$large: 1200px;

$wide: 1600px;

@mixin medium {
	@media (min-width: $medium) {
		@content;
	}
}

@mixin large {
	@media (min-width: $large) {
		@content;
	}
}

@mixin wide {
	@media (min-width: $wide) {
		@content;
	}
}
