/**
* VARIABLES
*/

// COLORS

// *** Primary
$blue: #23a1f5;
$malibuBlue: #758bfd;
$darkBlue: #274690;
$green: #45be93;
$midnight: #001E3C;

// *** Secondary
$white: #ffffff;
$background: #f9faff;
$grey: #808a9f;
$black: #222222;

// *** System
$red: #f71735;

// *** Gradient
// $gradient: linear-gradient(270deg, #64e0b9 0%, #4451c4 100%);

// FONTS
$font: 'Inter',
sans-serif;

// BREAKPOINTS
$medium: 768px;

$large: 1200px;

$wide: 1600px;

@mixin medium {
	@media (min-width: $medium) {
		@content;
	}
}

@mixin large {
	@media (min-width: $large) {
		@content;
	}
}

@mixin wide {
	@media (min-width: $wide) {
		@content;
	}
}